In [57]:
from splinter import Browser
from bs4 import BeautifulSoup as soup 
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path':ChromeDriverManager().install()}
browser = Browser('chrome',**executable_path,headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 101.0.4951
[WDM] - Get LATEST chromedriver version for 101.0.4951 google-chrome
[WDM] - Driver [/Users/fathi/.wdm/drivers/chromedriver/mac64/101.0.4951.41/chromedriver] found in cache

In [13]:
url = 'https://redplanetscience.com' 
browser.visit(url)
browser.is_element_present_by_css('div.list_text',wait_time=1)

True

In [14]:
html = browser.html

In [15]:
html[0:500]

'<html><head>\n      <meta charset="utf-8">\n      <meta name="viewport" content="width=device-width, initial-scale=1">\n      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">\n      <link rel="stylesheet" type="text/css" href="css/font.css">\n      <link rel="stylesheet" type="text/css" href="css/app.css">\n      <link rel="stylesheet" '

In [16]:
news_soup = soup(html,'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [24]:

# content = slide_elem.find('div',class_ = 'content_title')
# text = content.text
# print(text)

news_title = slide_elem.find('div',class_ = 'content_title').get_text()
news_title

"NASA's Treasure Map for Water Ice on Mars"

In [28]:
news_p = slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

'A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.'

### Featured Images

In [50]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

# html[0:500]

In [51]:

full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [52]:
html = browser.html
img_soup = soup(html,'html.parser')

In [55]:
img_url_rel = img_soup.find('img',class_='fancybox-image').get('src')
img_url_rel
# url + img_url_rel

'image/featured/mars2.jpg'

In [56]:
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [66]:
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [67]:
df.columns = ['Description','Mars','Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [68]:
df.set_index('Description',inplace = True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [69]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [70]:
browser.quit()